.image-carousel {
    &__body {
        width: 1034px;
        overflow: hidden;
        margin: 0px auto;
    }
    &__container {
        width: 1034px * 6;
        height: 580px;
        transition: all 500ms linear 0s;
    }
    &__item {
        width: 1034px;
        margin: 0px 0px;
        display: inline-block;
    }
}
