.image-carousel {
    &__body {
        overflow: hidden;
        margin: 0px auto;
    }
    &__container {
        height: 580px;
        transition: all 500ms linear 0s;
    }
    &__item {
        margin: 0px 0px;
        display: inline-block;
    }
}
